ENV=staging

URL_BASE_PETSTORE=https://petstore.swagger.io/v2

URL_BASE_SAUCEDEMO=https://www.saucedemo.com
USUARIO_SAUCEDEMO=standard_user
SENHA_SAUCEDEMO=secret_sauce

NAVEGADOR=chrome
NAVEGADOR_SEM_INTERFACE=false

TIMEOUT_PADRAO=10
TIMEOUT_API=30
